:root {
  --font:
    "Atkinson Hyperlegible Next Variable", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-family: var(--font);

  font-style: normal 90deg oblique 20deg;

  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  /* --level-0: 0;
  --level-1: 0.15;
  --level-2: 0.21;
  --level-3: 0.26;
  --level-4: 0.32;
  --level-5: 0.37;
  --level-6: 0.41;
  --level-7: 0.46;
  --level-8: 0.51;
  --level-9: 0.55;
  --level-10: 0.59;
  --level-11: 0.64;
  --level-12: 0.68; */

  --level-0: 0.08;
  --level-1: 0.19;
  --level-2: 0.26;
  --level-3: 0.35;
  --level-4: 0.44;
  --level-5: 0.53;
  --level-6: 0.62;

  --line-width: 2px;

  --topbar-height: 28px;

  --editor-font-size: 16px;
  --code-font: "JetBrains Mono Variable", monospace;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  overflow: clip;

  --back-hue-back: 0;
  --back-hue-front: 0;
  --back-color-chroma: 0.03;
  --back-chroma: 0;

  --back: oklch(var(--level-1) var(--back-chroma) var(--back-hue-back));
  --back-1: oklch(var(--level-2) var(--back-chroma) var(--back-hue-back));
  --back-2: oklch(var(--level-3) var(--back-chroma) var(--back-hue-back));
  --back-3: oklch(var(--level-4) var(--back-chroma) var(--back-hue-back));
  --back-4: oklch(var(--level-5) var(--back-chroma) var(--back-hue-back));
  --back-5: oklch(var(--level-6) var(--back-chroma) var(--back-hue-back));

  --line-color: oklch(var(--level-3) var(--back-chroma) var(--back-hue-back));
  --line-color-1: oklch(var(--level-4) var(--back-chroma) var(--back-hue-back));

  --palette-back: oklch(var(--level-0) 0 0);
  --palette-back-1: oklch(var(--level-1) 0 0);
  --palette-back-2: oklch(var(--level-2) 0 0);
  --palette-back-3: oklch(var(--level-3) 0 0);
  --palette-back-4: oklch(var(--level-4) 0 0);

  --back-gradient: oklch(var(--level-1) 0 0);

  --transparent-back: oklch(100% 0 0 / 0.08);
  --transparent-back-1: oklch(100% 0 0 / 0.2);

  --text-color-chroma: 0.03;
  --text-chroma: 0;
  --text: oklch(0.88 var(--text-chroma) var(--back-hue-front));
  --text-strong: oklch(1 var(--text-chroma) var(--back-hue-front));
  --text-error: oklch(0.7 0.2 10);
  --text-weak: oklch(0.7 var(--text-chroma) var(--back-hue-front));

  color: var(--text);

  background: var(--back-gradient);
  background-attachment: fixed;
  background-size: cover;
}

button {
  background: var(--back-1);
  border: none;
  padding: 0;
  margin: 0;
  color: var(--text);
}
button:hover {
  background: var(--back-2);
}

button:active {
  background: var(--back-4);
}

button.toggled {
  background: var(--back-3);
}
button.toggled:hover {
  background: var(--back-4);
}
button.toggled:active {
  background: var(--back-5);
}

button.hidden {
  background: var(--back-0);
  color: transparent;
}
button.hidden:hover {
  background: var(--back-1);
  color: var(--text);
}
button.hidden:active {
  background: var(--back-3);
  color: var(--text);
}
